body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

*:not(.mantine-Text-root) {
  transition: .150s ease;
}

::-webkit-scrollbar {
  width: 0;
}

#root {
  display: flex;
  flex-direction: column;

  @media (max-width: 1100px) {
    height: calc(100vh + 245px);
  }
}

/* @keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);

  }
}

.marquee {
  animation: marquee 4s linear infinite;
} */