body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

main {
  max-height: calc(100vh - 75px);
}

*:not(.mantine-Text-root) {
  transition: .150s ease;
}

::-webkit-scrollbar {
  width: 0;
}

#root {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

/* @keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);

  }
}

.marquee {
  animation: marquee 4s linear infinite;
} */